@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: unset;
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
}
/* 
.container {
  max-width: 1386px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
} */

body {
  margin: 0;
  overflow-x: hidden;
}


/* footer */
.footer {
  background-color: #0000A0;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer .left, .footer .center, .footer .right {
  flex: 1;
  margin: 10px;
}

.footer .left ul, .footer .center ul {
  list-style: none;
  padding: 0;
}

.footer .left ul li, .footer .center ul li {
  margin: 5px 0;
}

.footer .center ul li {
  display: flex;
  align-items: center;
}

.footer .center ul li i {
  margin-right: 10px;
}

.footer .right .download-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.footer .right .download-buttons a {
  margin: 0 10px;
}

.footer .bottom {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin-top: 20px;
  font-size: 14px;
}

.footer .bottom .designer {
  float: left;
}

.footer .bottom .date {
  float: right;
}

/* footer */